:root {
    --color1: hsl(120, 100%, 50%);
    --color2: hsl(33, 100%, 50%);
    --color3: hsl(207 44% 49%);
    --color4: hsl(208 44% 20%);
    --color5: hsl(330, 100%, 71%);
    --color6: hsl(295, 45%, 44%);

    background-color: black;
    user-select: none;
    border-color: var(--color3);
    color: var(--color1)
}

* {
    border-color: inherit;
    color: inherit;
}

input {
    background-color: var(--color4);
}

button {
    background-color: var(--color4);
}

dt {
    text-decoration: underline;
}

form {
    display: grid;
    margin: auto;
    width: fit-content;
    grid-template-areas:
        "a p p"
        "b p p"
        "o o o";
}

fieldset {
    display: flex;
    flex-direction: column;
}

fieldset.a {
    grid-area: a;
}

fieldset.b {
    grid-area: b;
}

fieldset.o {
    grid-area: o;
}

.plain {
    grid-area: p;
}

#plain {
    width: 200px;
    height: 200px;
    aspect-ratio: 1;
    background-color: var(--color4);
}

input {
    width: 100px;
    outline: none;
}

output:empty::after {
    content: 'Output';
    opacity: 0.4;
}
